# If you change this file extension, also change it further down in RewriteRule etc.
AddCharset utf-8 html

AddHandler cgi-script cgi pl
Options +ExecCGI -MultiViews

<Files *.txt>
	Deny from all
</Files>

<Files config*.pl>
	Deny from all
</Files>

<IfModule alias_module>
	RedirectMatch 403 /(_bak|extras|include)/
	RedirectMatch 302 ^([^?]*/)(res|thumb|src)[/.]*$ $1
</IfModule>

<IfModule dir_module>
	DirectoryIndex index.html kareha.pl
</IfModule>

<IfModule headers_module>
	<Files *.html>
		Header set Cache-Control "max-age=0; must-revalidate; no-cache"
		Header set Expires "Mon, 12 Sep 2016 00:00:00 GMT"
		Header set Pragma "no-cache"
		Header unset Vary
	</Files>
</IfModule>

<IfModule rewrite_module>
	RewriteEngine On

# set content type to xhtml:
	RewriteCond %{HTTP_ACCEPT} application/xhtml\+xml
	RewriteRule \.html$ - [T=application/xhtml+xml;charset=utf-8]
</IfModule>
