#deletecontrols {float: right; text-align: right;}
#deletecontrols input[type=text] {min-width: 24em;}
#threadlist a {display: block;}
.deletebutton, .posttext input {display: none;}
.login {text-align: center;}
.post {border: 1px solid #79c; background: #e7e7ff; padding: 0; margin-bottom: 0.3em; clear: both;}
.postcommands {margin: 0; padding: 3px; background: #ccddff; font-family: sans-serif;}
.posttext a {color: #5ae;}
.posttext a:hover {background: #5ae; color: #eef;}
.posttext {padding: 0.5em 2em;}
a {color: #702;}
a:hover {background: #d13; color: #eef;}
h2 a {text-decoration: none; color: #000;}
h2 a:hover {text-decoration: underline;}
h2 {font-size: 1.2em; margin: 2em 0 0.5em 0; padding: 0; font-family: sans-serif;}
h3 {font-size: 1em; margin: 0; padding: 0px; font-family: sans-serif;}
html, body {background: #eef;}
th {text-align: left;}